.logo {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (min-width: 600px) {

    section.header-home .container .logo {
        max-height: 180px;
        max-width: 180px;
        height: 180px;
        width: 180px;
    }
}

section.header .container .content .name {
    font-size: 24px;
}

section.header-home .container .content .name {
    font-size: 32px;
}

.main {
    min-height: 200px;
}
