<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

{{ if and (not .IsPage) (eq .RelPermalink "/") }}
<body class="home">
{{ else }}
<body>
{{ end }}
<section class="header">
    <div class="container">
        <a href="{{ .Site.BaseURL }}" class="transition-home"><img class="logo" src="{{ .Site.Params.logofile | absURL }}" alt="logo" /></a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}" class="transition-home"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    {{ if ne (len (where .Site.RegularPages "Section" "blog")) 0 }}
                        <a href="{{ .Site.BaseURL }}blog/" class="transition-subpage"><li>Blog</li></a>
                    {{ end }}
                    {{ range .Site.Sections }}
                        {{ range first 1 (where .Pages "Section" "ne" "")}}
                            {{ if ne .Section "blog"}}
                            <a href="{{ .Section | urlize | absURL }}" class="transition-subpage"><li>{{ .Section }}</li></a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ range where .Site.RegularPages "Section" ""}}
                        {{ if and (ne .Title "License") (ne .Title "Home")}}
                            <a href="{{ .Permalink }}" class="transition-subpage"><li>{{ .Title }}</li></a>
                        {{ end }}
                    {{ end }}
                </ul>
            </nav>
        </div>
        <div class="icons">
        {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
                <img class="icon" src="/img/github.svg" alt="github" />
            </a>
        {{ end }}

        {{ if .Site.Params.twitter }}
            <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
                <img class="icon" src="/img/twitter.svg" alt="twitter" />
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
                <img class="icon" src="/img/linkedin.svg" alt="linkedin" />
            </a>
        {{ end }}

        {{ if .Site.Params.goodreads }}
            <a href="https://www.goodreads.com/{{ .Site.Params.goodreads }}" target="_blank">
                <img class="icon" src="/img/goodreads.svg" alt="goodreads" />
            </a>
        {{ end }}

        {{ if .Site.Params.keybase }}
            <a href="https://keybase.io/{{ .Site.Params.keybase }}" target="_blank">
                <img class="icon" src="/img/keybase.svg" alt="keybase" />
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                <img class="icon" src="/img/email.svg" alt="email" />
            </a>
        {{ end }}
        </div>
    </div>
</section>
