
<!-- Early fetch fonts -->
<link rel="preload" as="font" href="/fonts/montserrat-latin-wght-normal.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="/fonts/raleway-latin-wght-normal.woff2" type="font/woff2" crossorigin>
{{/*  <link rel="preload" as="font" href="/fonts/raleway-latin-wght-italic.woff2" type="font/woff2" crossorigin>  */}}

<style>
  /* Montserrat variable ── roman styles only */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/montserrat-latin-wght-normal.woff2') format('woff2-variations');
    unicode-range: U+000-5FF;
    /* basic Latin */
  }

  /* Raleway variable ── roman */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/raleway-latin-wght-normal.woff2') format('woff2-variations');
    unicode-range: U+000-5FF;
  }

  /* Raleway variable ── italic */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/raleway-latin-wght-italic.woff2') format('woff2-variations');
    unicode-range: U+000-5FF;
  }
</style>

<!-- CSS -->
<style media="screen">
  {{ partial "css/main.css" . | safeCSS }}
</style>
<style media="(min-width: 600px)">
  {{ partial "css/min600px.css" . | safeCSS }}
</style>

{{ if .Site.Params.colors }}
  <style type="text/css" media="screen">
    {{ partial "css/colors.css" . | safeCSS }}
  </style>
{{ end }}

{{ range .Site.Params.extracssfiles }}
  <link rel="stylesheet" href="{{ . | absURL }}">
{{ end }}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | absURL }}"
{{ else }}
    href="{{ .Site.BaseURL }}img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ with .OutputFormats.Get "rss" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}