<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

{{ $ActivePage := (lower .Title) }}

<body {{ if eq $ActivePage "home" }} class="home" {{ else }} class="subpage" {{ end }}>
    <section class="header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" class="transition-home"><img class="logo"
                    src="{{ .Site.Params.logofile | absURL }}" alt="logo" /></a>
            <div class="content">
                <a href="{{ .Site.BaseURL }}" class="transition-home">
                    <div class="name">
                        <h1>{{ .Site.Title }}</h1>
                    </div>
                </a>
                <nav>
                    <ul>
                        {{ if ne (len (where .Site.RegularPages "Section" "blog")) 0 }}
                        <li{{ if eq $ActivePage "blog" }} class="active-page" {{ end }}>
                            <a href="{{ .Site.BaseURL }}blog/" class="transition-subpage">Blog</a>
                        </li>
                        {{ end }}
                        {{ range .Site.Sections }}
                        {{ range first 1 (where .Pages "Section" "ne" "")}}
                        {{ if ne .Section "blog"}}
                        <li{{ if eq $ActivePage (lower .Section) }} class="active-page" {{ end }}>
                            <a href="{{ .Section | urlize | absURL }}" class="transition-subpage">{{ .Section }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                        {{ range where .Site.RegularPages "Section" ""}}
                        {{ if and (ne .Title "License") (ne .Title "Home")}}
                        <li{{ if eq $ActivePage (lower .Title) }} class="active-page" {{ end }}>
                            <a href="{{ .Permalink }}" class="transition-subpage">{{ .Title }}</a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </section>